body {
background-color: black;
padding: 10px;
}

.canvas {

  background-color: blue;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto
    auto ;
  background-color: black;
  padding: 0px;

}

.tile {
  width: 80px;
  height: 80px;
  border: solid;
  border-width: thin;
  padding-bottom: 4px;
  border-radius: 4px;
  border-color: black;
  background-color: white;
  description: "tileID here ";
}

.tile_hover {
  width: 100px;
  border-color: white;
  border-radius: 5px;
}
