body {
  background-color: black;
  padding: 0px;
}

.canvas {
  font-family: 'Girassol', cursive;
  background-color: blue;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: white;
  padding: 0px;
  padding-right: 50px;
  padding-bottom: 120px;
}

.tile {
  font-family: 'Girassol', cursive;
  font-size: 12px;

  color: #3b331c;
  width: 70px;
  height:70px;
  border: solid;
  border-width: thin;
  padding-bottom: 4px;
  border-radius: 4px;
  border-color: white;
  background-image: none;
  background-size: 100%;
  background-color: white;

}
@keyframes border {
  0%   {border-color: #de9400;}
  33%  {border-color: yellow;}
  66%  {border-color: black;}
  100% {border-color: #de9400;}
}

@keyframes shallows {
  0%   {background-color: #6a97de;}
  50%  {background-color: #5e92e0;}
  100% {background-color: #6a97de;}
}
@keyframes oceans {
  0%   {background-color: #5e89cc;}
  50%  {background-color: #5179b8;}
  100% {background-color: #5e89cc;}
}

.panel {
  font-family: 'Girassol', cursive;
  border: solid;
  border-color: #736335;
  border-radius: 14px;
  background-color: #dec371;
  position: fixed;
  height: 25%;
  width: 95%;
  top: 80%;
  left: 50%;
  padding: 12px;
  float: left;
  transform: translate(-50%, 0);
}

#tileinfopanel {
  font-family: 'Girassol', cursive;
    border-radius: 8px;
  background-color: #eddcab;
  width: 20%;
  height: 60%;
  float: left;
  border: solid;
  border-radius: 8px;

}

#tileinfotext {
  font-family: 'Girassol', cursive;
    border-radius: 8px;
  padding: 8px;
}

#characterpanel {
width: 10%;
height: 60%;
background-color: black;
  float: left;
  border: solid;
  border-radius: 8px;
  border-color: white;
  padding-left: 10px;
  margin-left: 1.5%

}

#infopanel {
  font-family: 'Girassol', cursive;
  border-radius: 8px;
  background-color: #eddcab;
  width: 65%;
  height: 60%;
  float: right;
  font-size: 30px;
  border: solid;
  border-radius: 8px;

}

#infotext {

  padding: 8px;
}

#production {
  padding-top: 8px;
  padding-left: 8px;
}
#housing {
  padding-top: 8px;
    padding-left: 8px;
}

.dialog{
  position: fixed;
}

.fixed-dialog{
  position: fixed;

}
div.ui-dialog {
  position:fixed;
}

.noclose .ui-dialog-titlebar-close
{
    display:none;
}
